{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <div class="nav-context">
        <div class="parent">
            <div></div>
            <div class="container mx-auto p-5 flex justify-end">

            </div>
        </div>
    </div>
    <div class="nav-context">
        <div class="parent">
            <div></div>
            <div id="btn-create">
                <a class="btn" href="{{ path('app_emp_register') }}">Créer un employé</a>
                <a class="btn" href="{{ path('app_veto_register') }}">Créer un vétérinaire</a>
            </div>
        </div>
    </div>

    <div class="cont">
        <h1>Utilisateurs</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-5">
            {% for user in users %}
                <div class="card">
                    <div class="card-body">
                        <span class="hidden">{{ user.id }}</span>
                        <span class="hidden">{{ user.password }}</span>
                        <span class="hidden">{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</span>

                        <h2>{{ user.firstname }} {{ user.lastname }}</h2>
                        <hr class="hr">
                        {% if 'ROLE_ADMIN' in user.roles %}
                            <b>Administrateur</b>
                        {% elseif 'ROLE_VETERINAIRE' in user.roles %}
                            <b>Vétérinaire</b>
                        {% elseif 'ROLE_EMPLOYE' in user.roles %}
                            <b>Employé(e)</b>
                        {% else %}
                            <b>Utilisateur non défini</b>
                        {% endif %}
                        <p class="my-5">{{ user.isVerified ? 'Vérifié' : 'Non vérifié' }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('app_user_show', {'id': user.id}) }}">
                            {{ include('_partials/icons/_eye.html.twig') }}
                        </a>
                        <a href="{{ path('app_user_edit', {'id': user.id}) }}">
                            {{ include('_partials/icons/_edit.html.twig') }}
                        </a>
                    </div>
                </div>

            {% else %}
                <div class="cover">
                    Aucun compte
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
