{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <div class="nav-context">
        <div class="parent">
            <div></div>
            <div id="btn-create">
                <a class="btn" href="{{ path('app_emp_register') }}">Créer un employé</a>
                <a class="btn" href="{{ path('app_veto_register') }}">Créer un vétérinaire</a>
            </div>
        </div>
    </div>

    <div class="cont">
        <h1>Utilisateurs</h1>
        <div class="card-to-table">
            <div class="thead">
                <div class="row">
                    <div>N°</div>
                    <div>Nom et prénom</div>
                    <div>E-mail</div>
                    <div>Rôle</div>
                    <div>Statut</div>
                    <div></div>
                </div>
            </div>
            <div class="tbody">
                {% for user in users %}
                <div class="item">
                    <div>{{ user.id }}</div>
                    <div><b>{{ user.lastname }} {{ user.firstname }}</b></div>
                    <div>{{  user.email }}</div>
                    <div>
                        <span class="md:hidden">Rôle : </span>
                        {% if 'ROLE_ADMIN' in user.roles %}
                            Administrateur
                        {% elseif 'ROLE_VETERINAIRE' in user.roles %}
                            Vétérinaire
                        {% elseif 'ROLE_EMPLOYE' in user.roles %}
                            Employé(e)
                        {% endif %}
                    </div>
                    <div>
                        <span class="md:hidden">Statut : </span>
                        {{ user.isVerified ? 'Vérifié' : 'Non vérifié' }}
                    </div>
                    <div class="actions">
                        <div>
                            <a href="{{ path('app_user_show', {'id': user.id}) }}">
                                {{ include('_partials/icons/_eye.html.twig') }}
                            </a>
                        </div>
                        <div>
                            <a href="{{ path('app_user_edit', {'id': user.id}) }}">
                                {{ include('_partials/icons/_edit.html.twig') }}
                            </a>
                        </div>
                        <div>
                            {{ include('admin/user/_delete_icon.html.twig') }}
                        </div>
                    </div>
                </div>
                {% else %}
                    <div>Aucun résultat</div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
