{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="nav-context">
        <div class="parent">
            <a  href="{{ path('app_user_index') }}">
                {{ include('_partials/icons/_left-circle.html.twig') }}
            </a>
            <div class="right"></div>
        </div>
    </div>

    <div class="cont">
        <h1>Création d'un compte {{ role }} </h1>
        <div class="flex justify-center">
            <div class="bg-slate-200 w-3/4 g:w-1/2 p-10">
                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.firstname) }}
                {{ form_row(registrationForm.lastname) }}

                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Mot de passe'
                    }) }}

                    <button type="submit" class="btn">Enregistrer</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
{% endblock %}
