{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <div class="nav-context">
        <div class="parent">
            <a  href="{{ path('app_user_index') }}">
                {{ include('_partials/icons/_left-circle.html.twig') }}
            </a>
            <div class="right">
                <a class="btn" href="{{ path('app_user_edit', {'id': user.id}) }}">
                    {{ include('_partials/icons/_edit.html.twig') }}
                    Modifier
                </a>
                <div class="btn">
                    {{ include('admin/user/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
    {# @todo voir la liste des rapports du vétérinaire #}
    {# @todo voir la liste des repas donnés par l'employé(e) #}

    <div class="cont">
        <h1>
            {% if 'ROLE_ADMIN' in user.roles %}
                Administrateur
            {% elseif 'ROLE_VETERINAIRE' in user.roles %}
                Vétérinaire
            {% elseif 'ROLE_EMPLOYE' in user.roles %}
                Employé(e)
            {% else %}
                Utilisateur non défini
            {% endif %}
        </h1>
        <table class="table table-sm">
            <tr>
                <th>N°</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Nom et prénom</th>
                <td>{{ user.firstname }} {{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Adresse e-mail</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Rôle</th>
                <td>
                    {% if 'ROLE_ADMIN' in user.roles %}
                        Administrateur
                    {% elseif 'ROLE_VETERINAIRE' in user.roles %}
                        Vétérinaire
                    {% elseif 'ROLE_EMPLOYE' in user.roles %}
                        Employé(e)
                    {% else %}
                        Utilisateur non défini
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ user.isVerified ? 'Vérifié' : 'Non vérifié' }}</td>
            </tr>
        </table>
    </div>
{% endblock %}
