{% extends 'base.html.twig' %}

{% block title %}Repas{% endblock %}

{% block body %}
    <div class="nav-context">
        <div class="parent">
            <div></div>
            <div id="btn-create">
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn" href="{{ path('app_food_new') }}">Créer un repas</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="cont">
        <h1>Repas</h1>

        <table class="tw-table">
            <thead>
            <tr>
                <th>N°</th>
                <th>Date</th>
                <th>Heure</th>
                <th>Animal</th>
                <th>Items</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for food in food %}
                <tr>
                    <td>{{ food.id }}</td>
                    <td>{{ food.createdAt ? food.createdAt|date('d-m-Y') : '' }}</td>
                    <td>{{ food.time ? food.time|date('H:i') : '' }}</td>
                    <td>
                        <a href="{{ path('app_animal_show', {'id': food.animal.id}) }}">
                            {{ food.animal.name }} {{ include('_partials/icons/_link.html.twig') }}
                        </a>
                    </td>
                    <td>{{ food.eatings.count }}</td>
                    <td class="actions">
                        <a href="{{ path('app_food_show', {'id': food.id}) }}">
                            {{ include('_partials/icons/_eye.html.twig') }}
                        </a>
                        <a href="{{ path('app_food_edit', {'id': food.id}) }}">
                            {{ include('_partials/icons/_edit.html.twig') }}
                        </a>
                        <div>{{ include('admin/food/_delete_icon.html.twig') }}</div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6"><h2>Aucun résultat</h2></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="hidden">
            {% for eating in eatings %}
                {{ eating.id }}
            {% endfor %}
        </div>

    </div>
{% endblock %}
