{% extends 'base.html.twig' %}

{% block title %}Repas{% endblock %}

{% block body %}
    <div class="nav-context">
        <div class="parent">
            <div></div>
            <div id="btn-create">
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn" href="{{ path('app_food_new') }}">Créer un repas</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="cont">
        <h1>Repas</h1>

        <table class="tw-table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Heure</th>
                <th>Date</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for food in food %}
                <tr>
                    <td>{{ food.id }}</td>
                    <td>{{ food.createdAt ? food.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ food.time ? food.time|date('H:i:s') : '' }}</td>
                    <td class="actions">
                        <a href="{{ path('app_food_show', {'id': food.id}) }}">show</a>
                        <a href="{{ path('app_food_edit', {'id': food.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4"><h2>Aucun résultat</h2></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_food_new') }}">Create new</a>
    </div>
{% endblock %}
