{% extends 'base.html.twig' %}

{% block title %}Dashboard - Arcadia Zoo{% endblock %}

{% block body %}
    <div class="cont">
        <h1>Arcadia Zoo - Administration</h1>
        {{ include('_partials/dashboard/_animals.html.twig') }}

        <div id="accordion-flush" data-accordion="collapse" data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white" data-inactive-classes="text-gray-500 dark:text-gray-400">

            {% if is_granted('ROLE_ADMIN') %}
                {{ include('_partials/dashboard/_users.html.twig') }}
                {{ include('_partials/dashboard/_stats.html.twig') }}
                {{ include('_partials/dashboard/_company.html.twig') }}
            {% endif %}
            {% if is_granted('ROLE_EMPLOYE') %}
                {{ include('_partials/dashboard/_services.html.twig') }}
                {{ include('_partials/dashboard/_comments.html.twig') }}
            {% endif %}
            {% if is_granted('ROLE_VETERINAIRE') %}

            {% endif %}
        </div>
    </div>
{% endblock %}
