{% extends 'base.html.twig' %}

{% block title %}Eating index{% endblock %}

{% block body %}
    <h1>Eating index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Feeding</th>
                <th>Quantity</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for eating in eatings %}
            <tr>
                <td>{{ eating.id }}</td>
                <td>{{ eating.feeding }}</td>
                <td>{{ eating.quantity }}</td>
                <td>{{ eating.createdAt ? eating.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_eating_show', {'id': eating.id}) }}">show</a>
                    <a href="{{ path('app_eating_edit', {'id': eating.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_eating_new') }}">Create new</a>
{% endblock %}
