{% extends 'base.html.twig' %}

{% block title %}Eating{% endblock %}

{% block body %}
    <h1>Eating</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ eating.id }}</td>
            </tr>
            <tr>
                <th>Feeding</th>
                <td>{{ eating.feeding }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ eating.quantity }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ eating.createdAt ? eating.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_eating_index') }}">back to list</a>

    <a href="{{ path('app_eating_edit', {'id': eating.id}) }}">edit</a>

    {{ include('admin/eating/_delete_form.html.twig') }}
{% endblock %}
