{% extends 'base.html.twig' %}

{% block title %}Commentaires{% endblock %}

{% block body %}
    <div class="cont">
        <h1>Les commentaires</h1>

        <div class="card-to-table">
            <div class="thead">
                <div class="row">
                    <div>Date</div>
                    <div>Pseudo</div>
                    <div>Commentaire</div>
                    <div>Statut</div>
                    <div>Publier</div>
                    <div></div>
                </div>
            </div>
            <div class="tbody">
                {% for comment in comments %}
                    <div class="item">
                        <div>
                            {{ comment.createdAt|date('d/m/Y') }}
                        </div>
                        <div>
                            <b>{{ comment.pseudo }}</b>
                        </div>
                        <div>{{ comment.commentText|u.truncate(50, '...') }}</div>
                        <div>
                            {{ comment.isVisible ? 'Publié' : 'En attente' }}
                        </div>
                        <div class="flex justify-center">
                            {% if comment.visible %}
                                <div class="btn-danger p-0">
                                    {{ include('admin/comment/_unpublish_form.html.twig') }}
                                </div>
                            {% else %}
                                <div class="btn-success p-0">
                                    {{ include('admin/comment/_publish_form.html.twig') }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="actions">
                            <div>
                                <a href="{{ path('app_comment_show', {'id': comment.id}) }}">
                                    {{ include('_partials/icons/_eye.html.twig') }}
                                </a>
                            </div>
                            <div>
                                {{ include('admin/comment/_delete_icon.html.twig') }}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div>Aucun résultat</div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
