{% extends 'base.html.twig' %}

{% block title %}Commentaire{% endblock %}

{% block body %}
    <div class="cont">
        <h1>Commentaire</h1>
        <div class="flex flex-col items-center sm:w-3/4 lg:w-1/2 gap-5 mx-auto justify-center">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Date</th>
                        <td>{{ comment.createdAt ? comment.createdAt|date('d/m/Y') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Pseudo</th>
                        <td>{{ comment.pseudo }}</td>
                    </tr>
                    <tr>
                        <th>Commentaire</th>
                        <td>{{ comment.commentText }}</td>
                    </tr>
                    <tr>
                        <th>Statut</th>
                        <td>{{ comment.isVisible ? 'Publié' : 'Pas publié' }}</td>
                    </tr>

                </tbody>
            </table>
            <div class="flex justify-center w-full">
                {% if is_granted('ROLE_EMPLOYE') %}
                    {% if not comment.visible %}
                        <div class="btn-success">
                            {{ include('admin/comment/_publish_text_form.html.twig') }}
                        </div>
                    {% endif %}

                    <div class="btn-danger">
                        {{ include('admin/comment/_delete_form.html.twig') }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
