{{ form_errors(form) }}
{{ form_start(form) }}
    {{ form_row(form.date) }}
    {{ form_row(form.animal) }}
    {{ form_row(form.detail) }}
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
