{% extends 'base.html.twig' %}

{% block title %}Modifier un rapport{% endblock %}

{% block javascripts %}
    {% block importmap %}
        {{ importmap('app') }}{% endblock %}
    <script src="{{ asset('assets/js/ckeditor.js') }}" defer></script>
{% endblock %}

{% block body %}
    <div class="nav-context">
        <div class="parent">
            {% if is_granted('ROLE_VETERINAIRE') %}
                <a  href="{{ path('app_report_index') }}">
                    {{ include('_partials/icons/_left-circle.html.twig') }}
                </a>
            {% endif %}
            <div class="right">
                {% if is_granted('ROLE_ADMIN') %}
                    <span class="ms-3">
                        {{ include('admin/report/_delete_icon.html.twig') }}
                    </span>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="cont">
        <h1>Modifier un rapport</h1>
        <div class="flex justify-center">
            <div class="bg-slate-200 p-10 lg:w-1/2">
                {{ include('admin/report/_form.html.twig', {'button_label': 'Enregistrer'}) }}
            </div>
        </div>
    </div>
{% endblock %}
