{% extends 'base.html.twig' %}

{% block title %}Créer un rapport{% endblock %}

{% block javascripts %}
    {% block importmap %}
        {{ importmap('app') }}{% endblock %}
    <script src="{{ asset('assets/js/ckeditor.js') }}" defer></script>
{% endblock %}

{% block body %}
    <div class="nav-context">
        <div class="parent">
            {% if is_granted('ROLE_VETERINAIRE') %}
                <a  href="{{ path('app_report_index') }}">
                    {{ include('_partials/icons/_left-circle.html.twig') }}
                </a>
            {% endif %}
            <div class="right"></div>
        </div>
    </div>

    <div class="cont">
        <h1>Créer un rapport</h1>
        <div class="flex flex-col  justify-center">
            <div class="bg-slate-200 w-3/4 g:w-1/2 p-10 mx-auto">
                {% for animal in animals %}
                    <h2>{{ animal.name }}</h2>
                    <p>{{ animal.breed.name }}</p>
                    <p>{{ animal.habitat.name }}</p>
                    <p>
                        {{ animal.health }}
                        <button data-modal-target="health-modal" data-modal-toggle="health-modal">
                            {{ include('_partials/icons/_edit.html.twig') }}
                        </button>

                    </p>

                    <!-- Main modal -->
                    <div id="health-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                        <div class="relative p-4 w-full max-w-2xl max-h-full">
                            <!-- Modal content -->
                            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                <!-- Modal header -->
                                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                                    <h2 class="m-0 pt-3">Modifier l'état de santé de {{ animal.name }}</h2>
                                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="health-modal">
                                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                        </svg>
                                        <span class="sr-only">Fermer</span>
                                    </button>
                                </div>
                                <!-- Modal body -->

                                <div class="p-4 md:p-5 space-y-4">
                                    {{ include('admin/report/_healthForm.html.twig') }}
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
            <div class="bg-slate-200 w-3/4 g:w-1/2 p-10 mx-auto">
                {{ include('admin/report/_form.html.twig') }}
            </div>
            <div class="bg-slate-200 w-3/4 g:w-1/2 p-10 mx-auto">
                <h2>Dernier repas</h2>
                <table class="tw-table">
                    <thead>
                    <tr>
                        <th>N°</th>
                        <th>Date</th>
                        <th>Heure</th>
                        <th>Employé(e)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ food.id }}</td>
                        <td>{{ food.createdAt|date('d_m-Y') }}</td>
                        <td>{{ food.time|date('H:i') }}</td>
                        <td>{{ food.user.firstname }} {{ food.user.lastname }}</td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            {% for eating in eatings %}
                                <div class="ps-10">
                                    {{ include('_partials/icons/_arrow_right.html.twig') }} {{ eating.feeding }} : {{ eating.quantity }}g.
                                </div>
                            {% endfor %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="bg-slate-200 w-3/4 g:w-1/2 p-10 mx-auto">
                <h2>Repas suggéré</h2>
                {% for eating in eatings %}
                    <div class="ps-10">
                        {{ include('_partials/icons/_arrow_right.html.twig') }} {{ eating.feeding }} : {{ eating.quantity }}g.
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
