{% extends 'base.html.twig' %}

{% block title %}Créer un rapport{% endblock %}

{% block javascripts %}
    {% block importmap %}
        {{ importmap('app') }}{% endblock %}
    <script src="{{ asset('assets/js/ckeditor.js') }}" defer></script>
{% endblock %}

{% block body %}
    <div class="nav-context">
        <div class="parent">
            {% if is_granted('ROLE_VETERINAIRE') %}
                <a  href="{{ path('app_report_index') }}">
                    {{ include('_partials/icons/_left-circle.html.twig') }}
                </a>
            {% endif %}
            <div class="right"></div>
        </div>
    </div>

    <div class="cont">
        <h1>Créer un rapport</h1>
        <div class="flex flex-col  justify-center">
            <div class="bg-slate-200 w-3/4 g:w-1/2 p-10 mx-auto">
                {% for animal in animals %}
                    <h2>{{ animal.name }}</h2>
                    <p>{{ animal.breed.name }}</p>
                    <p>{{ animal.habitat.name }}</p>
                {% endfor %}
                {{ include('admin/report/_form.html.twig') }}
            </div>
            <div class="bg-slate-200 w-3/4 g:w-1/2 p-10 mx-auto">
                <h2>Dernier repas</h2>
                <table class="tw-table">
                    <thead>
                    <tr>
                        <th>N°</th>
                        <th>Date</th>
                        <th>Heure</th>
                        <th>Employé(e)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ food.id }}</td>
                        <td>{{ food.createdAt|date('d_m-Y') }}</td>
                        <td>{{ food.time|date('H:i') }}</td>
                        <td>{{ food.user.firstname }} {{ food.user.lastname }}</td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            {% for eating in eatings %}
                                <div class="ps-10">
                                    {{ include('_partials/icons/_arrow_right.html.twig') }} {{ eating.feeding }} : {{ eating.quantity }}g.
                                </div>
                            {% endfor %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
