{% extends 'base.html.twig' %}

{% block title %}Rapport{% endblock %}

{% block body %}
    <div class="nav-context">
        <div class="parent">
            <a  href="{{ path('app_report_index') }}">
                {{ include('_partials/icons/_left-circle.html.twig') }}
            </a>
            <div class="right">
                {% if is_granted('ROLE_VETERINAIRE') %}
                    <a class="btn" href="{{ path('app_report_edit', {'id': report.id}) }}">
                        {{ include('_partials/icons/_edit.html.twig') }}
                        Modifier
                    </a>
                    <div class="btn">
                        {{ include('admin/report/_delete_form.html.twig') }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {# @todo label: image #}
    {# @todo label: état de santé (50 max) #}
    {# @todo avec un lien pour modifier l'état de santé #}

    <div class="cont">
        <h1>Rapport</h1>
        <div class="flex flex-col items-center sm:w-3/4 lg:w-1/2 gap-5 mx-auto justify-center">
            <table class="table">
                <tbody>
                <tr>
                    <th>N°</th>
                    <td>{{ report.id }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ report.date ? report.date|date('d/m/Y') : '' }}</td>
                </tr>
                <tr>
                    <th>Animal</th>
                    <td>
                        <a href="{{ path('app_animal_show', {'id':report.animal.id}) }}">
                            {{ report.animal.name }} {{ include('_partials/icons/_link.html.twig') }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Vétérinaire</th>
                    <td>
                        <a href="{{ path('app_user_show', {'id': report.user.id}) }}">
                            {{ report.user.firstname }} {{ include('_partials/icons/_link.html.twig') }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Rapport</th>
                    <td>{{ report.detail }}</td>
                </tr>
                </tbody>
            </table>
            <h2>Dernier repas</h2>
            <table class="tw-table">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Date</th>
                        <th>Heure</th>
                        <th>Employé(e)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ food.id }}</td>
                        <td>{{ food.createdAt|date('d_m-Y') }}</td>
                        <td>{{ food.time|date('H:i') }}</td>
                        <td>{{ food.user.firstname }} {{ food.user.lastname }}</td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            {% for eating in eatings %}
                                <div class="ps-10">
                                    {{ include('_partials/icons/_arrow_right.html.twig') }} {{ eating.feeding }} : {{ eating.quantity }}g.
                                </div>
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
