{{ form_errors(form) }}
{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    <div class="flex justify-center">
        <button class="btn-success">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
