{% extends 'base.html.twig' %}

{% block title %}Les services{% endblock %}

{% block body %}
    <div class="cont">
        <div class="flex justify-end">
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn" href="{{ path('app_service_new') }}">Créer un service</a>
            {% endif %}
        </div>
        <h1>Les services</h1>

        <div class="card-to-table">
            <div class="thead">
                <div class="row">
                    <div>Service</div>
                    <div>Description</div>
                    <div></div>
                </div>
            </div>
            <div class="tbody">
                {% for service in services %}
                    <div class="item">
                        <div>
                            <h3>{{ service.name }}</h3>
                        </div>
                        <div>
                            {{ service.description|u.truncate(50, '...') }}
                        </div>
                        <div class="actions">
                            <a class="btn" href="{{ path('app_service_show', {'id': service.id}) }}">
                                {{ include ('_partials/icons/_eye.html.twig') }}
                            </a>
                            <a class="btn" href="{{ path('app_service_edit', {'id': service.id}) }}">
                                {{ include ('_partials/icons/_edit.html.twig') }}
                            </a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="btn">
                                    {{ include('admin/service/_delete_icon.html.twig') }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
