{% extends 'base.html.twig' %}

{% block title %}Habitat{% endblock %}

{% block body %}
    <div class="nav-context">
        <div class="parent">
            <div class="right">
                {% if is_granted('ROLE_VETERINAIRE') %}
                    <a class="btn" href="">
                        {{ include('_partials/icons/_comment.html.twig') }}
                        Commentaire
                    </a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn" href="{{ path('app_habitat_edit', {'id': habitat.id}) }}">
                        {{ include('_partials/icons/_edit.html.twig') }}
                        Modifier
                    </a>
                    <div class="btn">
                        {{ include('admin/habitat/_delete_icon.html.twig') }}
                        Supprimer
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {# @todo label: miniature #}
    {# @todo label sublist: nom (link) (asc) #}
    {# @todo label: miniature #}
    {# @todo link: créer un rapport pour l'animal #}

    <div class="cont">
        <h1>Habitat : {{ habitat.name }}</h1>
        <table class="table table-sm">
            <tbody>
            <tr>
                <th>N°</th>
                <td>{{ habitat.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ habitat.commentHabitat }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ habitat.description }}</td>
            </tr>
            <tr>
                <th>Nombre d'animaux</th>
                <td><span class="badge">{{ count }}</span></td>
            </tr>
            </tbody>
        </table>

        <h2 class="text-center">Liste des animaux</h2>
        <table class="tw-table table-sm">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Nom</th>
                    <th>Race</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for animal in animals %}
                {% if animal.habitat.id == habitat.id  %}
                <tr>
                    <td>
                        {{ animal.id }}
                    </td>
                    <td>
                        <a href="{{ path('app_animal_show', {'id' : animal.id}) }}">
                            <b>{{ animal.name }}</b> {{ include('_partials/icons/_link.html.twig') }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('app_breed_show', {'id': animal.breed.id}) }}">
                            {{ animal.breed.name }} {{ include('_partials/icons/_link.html.twig') }}
                        </a>
                    </td>
                    <td class="actions">

                        <a href="{{ path('app_animal_show',{'id':animal.id}) }}">
                            {{ include('_partials/icons/_eye.html.twig') }}
                        </a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('app_animal_edit',{'id':animal.id}) }}">
                                {{ include('_partials/icons/_edit.html.twig') }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="4">Aucun résultat</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
