{% extends 'base.html.twig' %}

{% block title %}Modifier un animal{% endblock %}

{% block body %}
    <div class="nav-context">
        <div class="parent">
            <a  href="{{ path('app_animal_index') }}">
                {{ include('_partials/icons/_left-circle.html.twig') }}
            </a>
            <div class="right">
                {% if is_granted('ROLE_ADMIN') %}
                    <span class="ms-3">
                        {{ include('admin/animal/_delete_icon.html.twig') }}
                    </span>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="cont">
        <h1>Modifier un animal</h1>
        <div class="flex flex-col justify-center items-center">
            <div class="bg-slate-200 p-10 lg:w-1/2">
                {{ include('admin/animal/_form.html.twig', {'button_label': 'Enregistrer'}) }}
            </div>
            <div>
                {% for image in animal.images %}
                    {{ image.title }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
