{% extends 'base.html.twig' %}

{% block title %}Modifier un animal{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/ckeditor.js') }}" defer></script>
{% endblock %}

{% block body %}
    <div class="nav-context">
        <div class="parent">
            <a  href="{{ path('app_animal_index') }}">
                {{ include('_partials/icons/_left-circle.html.twig') }}
            </a>
            <div class="right">
                {% if is_granted('ROLE_ADMIN') %}
                    <span class="ms-3">
                        {{ include('admin/animal/_delete_icon.html.twig') }}
                    </span>
                {% endif %}
            </div>
        </div>
    </div>
    {# @todo - être redirigé vers sur la page animal en cours après une suppression d'image ou une modification du formulaire  #}

    <div class="cont">
        <h1>Modifier un animal</h1>
        <div class="flex flex-col justify-center items-center">
            <div class="bg-slate-200 p-10 lg:w-1/2">
                {{ include('admin/animal/_form.html.twig', {'button_label': 'Enregistrer'}) }}
            </div>

            <h2>Images</h2>
            <div class="flex flex-row gap-5">
                {% for image in animal.images %}
                    <div class="flex flex-col p-1 bg-slate-200 shadow-lg">
                        <img src="{{ asset('uploads/animals/mini/300x300-') ~ image.name }}" width="150" height="auto" alt="{{ image.title }}">
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="flex justify-center ">
                                <a class="opacity-50 hover:opacity-80" href="{{ path('app_animal_image_delete', {'id': image.id}) }}">
                                    {{ include('admin/animal/_delete_image_icon.html.twig') }}
                                </a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

