{% extends 'base.html.twig' %}

{% block title %}Fiche animal{% endblock %}

{% block body %}
    <div class="nav-context">
        <div class="parent">
            <a  href="{{ path('app_animal_index') }}">
                {{ include('_partials/icons/_left-circle.html.twig') }}
            </a>
            <div class="right">
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn" href="{{ path('app_animal_edit', {'id': animal.id}) }}">
                        {{ include('_partials/icons/_edit.html.twig') }}
                        Modifier la fiche
                    </a>
                    <div class="btn">
                        {{ include('admin/animal/_delete_icon.html.twig') }}
                        Supprimer
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="cont">
        <h1>Fiche {{ animal.name }}</h1>
        <div class="flex flex-col items-center sm:w-3/4 lg:w-1/2 gap-5 mx-auto justify-center">

            {# @todo label: habitat (link) #}
            {# @todo link: créer un rapport pour l'animal (veto) => Créer la route admin/rapport/{id}/ajout #}
            {# @todo link: créer un repas pour l'animal (employe) #}
            {# @todo sublist: [admin] action: supprimer l'image (flash) #}
            {# @todo sublist: repas #}

            <table class="table">
                <tbody>
                <tr>
                    <th>N°</th>
                    <td>{{ animal.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ animal.name }}</td>
                </tr>
                <tr>
                    <th>Race</th>
                    <td>
                        <a href="{{ path('app_breed_show', {'id': animal.breed.id}) }}">
                            {{ animal.breed.name }} {{ include('_partials/icons/_link.html.twig') }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Santé</th>
                    <td>{{ animal.health|u.truncate(50, '...') }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ animal.description|u.truncate(50, '...') }}</td>
                </tr>
                </tbody>
            </table>
            <h2>Liste des rapports</h2>
            <table class="tw-table">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Date</th>
                        <th>Rapport</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for report in reports %}
                    <tr>
                        <td>{{ report.id }}</td>
                        <td>{{ report.date|date('d-m-Y') }}</td>
                        <td>{{ report.detail|u.truncate(50, '...') }}</td>
                        <td class="actions">
                            <a href="{{ path('app_report_show', {'id':report.id}) }}">
                                {{ include('_partials/icons/_eye.html.twig') }}
                            </a>
                            {% if is_granted('ROLE_VETERINAIRE') %}
                                <a href="{{ path('app_report_edit', {'id':report.id}) }}">
                                    {{ include('_partials/icons/_edit.html.twig') }}
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr colspan="4">Aucun résultat</tr>
                {% endfor %}
                </tbody>
            </table>
            <h2>Images</h2>
            <div class="flex flex-row gap-5">
                {% for image in animal.images %}
                    <div class="flex flex-col p-1 bg-slate-200 shadow-lg">
                        <img src="{{ asset('uploads/animals/mini/300x300-') ~ image.name }}" width="150" height="auto" alt="{{ image.title }}">
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="flex justify-center ">
                                <a class="opacity-50 hover:opacity-80" href="#">
                                    {{ include('admin/image/_delete_icon.html.twig') }}
                                </a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
