{% extends 'base.html.twig' %}

{% block title %}Fiche animal{% endblock %}

{% block body %}
    <div class="nav-context">
        <div class="parent">
            <a  href="{{ path('app_animal_index') }}">
                {{ include('_partials/icons/_left-circle.html.twig') }}
            </a>
            <div class="right">
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn" href="{{ path('app_animal_edit', {'id': animal.id}) }}">
                        Modifier la fiche
                    </a>
                    <div>{{ include('admin/animal/_delete_icon.html.twig') }}</div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="cont">
        <h1>Fiche {{ animal.name }}</h1>
        <div class="flex flex-col items-center sm:w-3/4 lg:w-1/2 gap-5 mx-auto justify-center">

            {# @todo label: habitat (link) #}
            {# @todo link: créer un rapport pour l'animal (veto) => Créer la route admin/rapport/{id}/ajout #}
            {# @todo link: créer un repas pour l'animal (employe) #}
            {# @todo sublist: [admin] link: modifier l'image #}
            {# @todo sublist: [admin] action: supprimer l'image (flash) #}
            {# @todo sublist: repas #}

            <table class="table">
                <tbody>
                <tr>
                    <th>N°</th>
                    <td>{{ animal.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ animal.name }}</td>
                </tr>
                <tr>
                    <th>Race</th>
                    <td>
                        <a href="{{ path('app_breed_show', {'id': animal.breed.id}) }}">
                            {{ animal.breed.name }} {{ include('_partials/icons/_link.html.twig') }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Santé</th>
                    <td>{{ animal.health|u.truncate(50, '...') }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ animal.description|u.truncate(50, '...') }}</td>
                </tr>
                </tbody>
            </table>
            <h2>Liste des rapports</h2>
            <table class="tw-table">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Date</th>
                        <th>Rapport</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for report in reports %}
                    <tr>
                        <td>{{ report.id }}</td>
                        <td>{{ report.date|date('d-m-Y') }}</td>
                        <td>{{ report.detail|u.truncate(50, '...') }}</td>
                        <td class="actions">
                            <a href="{{ path('app_report_show', {'id':report.id}) }}">
                                {{ include('_partials/icons/_eye.html.twig') }}
                            </a>
                            {% if is_granted('ROLE_VETERINAIRE') %}
                                <a href="{{ path('app_report_edit', {'id':report.id}) }}">
                                    {{ include('_partials/icons/_edit.html.twig') }}
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr colspan="4">Aucun résultat</tr>
                {% endfor %}
                </tbody>
            </table>
            <h2>Images</h2>
            <table class="tw-table">
                <thead>
                    <tr>
                        <th>Miniature</th>
                        <th>Titre</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for image in animal.images %}
                    <tr>
                        <td>
                            <img src="{{ asset('uploads/animals/') ~ image.name }}" width="150" height="auto" alt="{{ image.title }}">
                        </td>
                        <td>{{ image.title }}</td>
                        <td class="actions">

                        </td>
                    </tr>
                {% else %}
                    <tr><td colspan="3">Aucun résultat</td></tr>
                {% endfor %}
                </tbody>
            </table>

            <div id="default-carousel" class="relative w-full" data-carousel="slide">
                <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                    {% for image in animal.images %}
                        <div class="hidden duration-700 ease-in-out" data-carousel-item>
                            <img src="{{ asset('uploads/animals/') ~ image.name }}" class="d-block w-100" alt="{{ image.title }}">
                        </div>
                    {% endfor %}
                </div>

                <!-- Slider controls -->
                <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
                        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                            </svg>
                            <span class="sr-only">Previous</span>
                        </span>
                </button>
                <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
                    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                        </svg>
                        <span class="sr-only">Next</span>
                    </span>
                </button>
            </div>

        </div>
    </div>
{% endblock %}
