{% extends 'base.html.twig' %}

{% block title %}Fiche animal{% endblock %}

{% block body %}


    <div class="cont">
        <h1>Fiche {{ animal.name }}</h1>
        <div class="wrapper">
            <div class="left">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>N°</th>
                        <td>{{ animal.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ animal.name }}</td>
                    </tr>
                    <tr>
                        <th>Race</th>
                        <td>
                            <a href="{{ path('app_breed_show', {'id': animal.breed.id}) }}">
                                {{ animal.breed.name }} {{ include('_partials/icons/_link.html.twig') }}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th>Santé</th>
                        <td>{{ animal.health|u.truncate(50, '...') }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ animal.description }}</td>
                    </tr>
                    </tbody>
                </table>
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn" href="{{ path('app_animal_edit', {'id': animal.id}) }}">
                        {{ include('_partials/icons/_edit.html.twig') }}
                        Modifier la fiche
                    </a>
                    <div class="btn">
                        {{ include('admin/animal/_delete_form.html.twig') }}
                    </div>
                {% endif %}
            </div>
            <div class="right">
                 <div class="flex flex-wrap gap-5">
                    {% for image in animal.images %}

                        <div class="flex flex-col p-1 bg-slate-200 shadow-lg">
                            <img src="{{ asset('uploads/animals/mini/300x300-') ~ image.name }}" width="150" height="auto" alt="{{ image.title }}">
                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="flex justify-center ">
                                    <a class="opacity-50 hover:opacity-80" href="#">
                                        {{ include('admin/image/_delete_icon.html.twig') }}
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>


            </div>

        </div>

        <div class="wrapper mt-2">
            <div class="left">
                <h2>Dernier repas</h2>
                {% for meal in lastMeal %}
                    Le {{ meal.created_at|date('d/m/Y') }} à {{ meal.time|date('H:i') }} par {{ meal.firstname }} {{ meal.lastname }}
                    <hr class="my-2 p-0">
                    <div>
                        {% for eating in eatings %}
                            {% if eating.id == meal.id %}
                                <p>{{ eating.feeding }} : {{ eating.quantity }}g</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}

            </div>
            <div class="right">
                <h2>Dernier rapport</h2>
                {% for report in lastReport %}
                    Le {{ report.date|date('d/m/Y') }} par {{ report.firstname }} {{ report.lastname }}
                <hr class="my-2 p-0">
                <div>
                    {{ report.detail }}
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
    {# @todo label: habitat (link) #}
    {# @todo link: créer un rapport pour l'animal (veto) => Créer la route admin/rapport/{id}/ajout #}
    {# @todo link: créer un repas pour l'animal (employe) #}
    {# @todo sublist: [admin] action: supprimer l'image (flash) #}
    {# @todo - image par défaut #}
    {# @todo - balise alt #}
{% endblock %}
